# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript cache
*.tsbuildinfo
/tmp

# Anchor
/solminea/target/debug
/solminea/target/deploy
/solminea/target/release
/solminea/target/sbf-solana-solana
/solminea/target/test-ledger
/solminea/target/.rustc_info.json
